footer.o-footer--fullwhite
  .container_mini
    .footerRight
      span.o-author__name
        | Made with 
        span.inline-icon
          include ../img/heart.svg        
        | in Bangalore by 
        br
        a.o-author__link(href='https://github.com/ravidsrk', target='_blank') Ravindra Kumar
