<div class="o-card--search">
  <div class="s__area">
    <input type="" placeholder="okhttp" name="q" class="u-input">
    <div class="s__bar">
      <div class="s__bar--label">
        Proguard Version
      </div>
      <div class="s__bar--version">
        <select name="" id="">
          <option value="1">v1.20.0~</option>
          <option value="1">v2.12.x~</option>
        </select>
      </div>
    </div>
  </div>
  <div class="s__content">
    <span class="o-list__heading">Popular libaries</span>
    <ul class="o-list">
      <li class="o-list__item"><a href="#" class="o-list__link">okhttp</a></li>
      <li class="o-list__item"><a href="#" class="o-list__link">retrofit</a></li>
      <li class="o-list__item"><a href="#" class="o-list__link">butterknife</a></li>
      <li class="o-list__item"><a href="#" class="o-list__link">rxjava</a></li>
      <li class="o-list__item"><a href="#" class="o-list__link">dagger2</a></li>
    </ul>
    <div class="s__result">
      <textarea name="result" id="" cols="30" rows="5" class="o-list__result">
        -dontwarn okio.**
        -dontwarn javax.annotation.Nullable
        -dontwarn javax.annotation.ParametersAreNonnullByDefault
      </textarea>
    </div>
  </div>
</div>