.o-slider--mini
  .container-mini
    .o-menu
      .brand__logo
        a(href='/')
      a.o-menu__item(href='/')
    .o-slider__box
      h1.o-slider__head Proguard Please.
      p.o-slider__sub Curated list of proguard rules of popular libraries
