// Vars
// ------
// other
// $base: #00e6ff;
$bright-green: #00ff2d;
$sec: #490daf;
$off: #fff;

$base: #27272A;
$fill-dark-grey: #181C24;
$fill-dark: #3B3E43;
$fill-dark-light: #686C75;
$fill-dark-light: #c4cad2;
$fill-bright: $sec;
$fill-white: #fff;

$fill-primary: #490daf;
$fill-base: $fill-primary;
$fill-asc-2: #fc0ca6;
$fill-asc: $bright-green;


$feature-height: 400px;

$fill-maroon: #44073c;
$font-light: 'Poppins', Helvetica, Arial, sans-serif;
$font-base: 'Poppins', Helvetica, Arial, sans-serif;

$small: layout(2);
$medium: layout(8);
$large: layout(12);

// Breakpoints
$bp-small : 24em;
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 46.8em;
$bp-med-2 : 48em;
$bp-large : 50em;
$bp-large-2 : 54.5em;
$bp-large-3 : 60em;
$bp-xl : 80em;
$bp-xl-2 : 85em;

$z-scale-1: 100;
$z-scale-2: 200;
$z-scale-3: 300;
$z-scale-4: 400;
$z-scale-5: 1000;